.ytp-time-current {
  display: inline !important;
  cursor: pointer;
}

.ytp-time-contents {
  display: inline !important;
}

.ytp-live .ytp-time-separator,
.ytp-live .ytp-time-duration {
  display: none;
}

.ytp-live-badge {
  margin-left: 5px;
}
